<div class="w-75 card border-primary mt-3">
    <div class="card-header text-white bg-success" align="center">
        <h3><%= @trip.user.full_name %>'s Trip</h3>
    </div>
    <div class="card-text mt-3" align="center">
        <p><%= @trip.pickup_time.localtime.strftime("%B %e, %Y at %l:%M %p") %></p>
        <p><%= "Space left for #{@trip.remaining_space} bags" %></p>
    </div>

    <%= button_to "Cancel Trip", trip_path(@trip.id), method: :delete, data: {confirm: 'Deny Pickup?'}, class: "btn col-9 mb-3" %>
</div>

<%= flash.notice %>

<% if @trip.pickups.length > 0 %>
<div class="w-75 card border-primary mt-3">
    <div class="card-header text-white bg-success" align="center">
        <h3>Pickups</h3>
    </div>
      <% @trip.pickups.each do |pickup| %>
        <% unless pickup.completed? %>
          <div class="card-text mt-3" align="center">
      	    <p><%= pickup.recycler_name %></p>
      	    <p><%= pickup.address %></p>
      	    <p>Number of Bags: <%= pickup.num_bags %><p>
      	    <% case pickup.status %>
      	    <% when "created" %>
              <!-- <%= button_to "Accept", pickups_update_path(pickup.id), data: {confirm: 'Accept Pickup?'}, class: "btn col-9 mb-3" %> -->

              <button type="button" class="btn btn-primary col-9 mb-3" data-toggle="modal" data-target="#exampleModal">Accept</button>

              <%=form_tag( pickups_update_path(pickup.id), method: "post") do %>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Accept the trip!
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Done</button>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>

              <button type="button" class="btn btn-primary col-9 mb-3" data-toggle="modal" data-target="#exampleModal2">Deny</button>

              <%= form_tag( controller: "pickups", action: "destroy", method: "post") do %>
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Deny the trip!
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Done</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>


              <!-- <%= button_to "Deny", pickup_path(pickup.id), method: :delete, data: {confirm: 'Deny Pickup?'}, class: "btn col-9 mb-3" %> -->
            <% when "accepted" %>
              <button type="button" class="btn btn-primary col-9 mb-3" data-toggle="modal" data-target="#exampleModal">Complete</button>

              <%= form_tag( pickups_update_path(pickup.id), method: "post") do %>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm That You've Got the Bag!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        All done? Your community thanks you, but more importantly, the Earth does!
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Done</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% when "picked_up" %>
              Pending
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
