<h3><%= @trip.user.full_name %>'s Trip</h3>
<%= @trip.pickup_time.localtime.strftime("%B %e, %Y at %l:%M %p") %>
<%= "Space left for #{@trip.remaining_space} bags" %>

<%= flash.notice %>

<% if @trip.pickups.length > 0 %>
  <h3>Pickups</h3>
  <% @trip.pickups.each do |pickup| %>
    <% unless pickup.completed? %>
      <div>
  	    <%= pickup.recycler_name %>
  	    <%= pickup.address %>
  	    Number of Bags: <%= pickup.num_bags %>
  	    <% case pickup.status %>
  	    <% when "created" %>

          <%= button_to "Accept", pickups_update_path(pickup.id), method: :get, :confirm => 'Accept Pickup?' %>
          <%= button_to "Deny", pickup_path(pickup.id), method: :delete, :confirm => 'Deny Pickup?' %>
        <% when "accepted" %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Complete
          </button>

          <%= form_tag( pickups_update_path(pickup.id), method: "get") do %>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm That You've Got the Bag!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    All done? Your community thanks you, but more importantly, the Earth does!
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Done</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% when "picked_up" %>
          Pending
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
