<%= flash.alert %>
<div class="container">
	<div class="row">
		<div class="col-11" align="center">
      <%= form_for :pickup, url: "/trips/#{@trip.id}/pickups" do |f| %>
				<div class="form-group col-11 mt-4 mb-4">
					<p><%= f.label :num_bags, "Number of Bags" %></p>
			  	<p class="col-3"><%= f.number_field(:num_bags, in: 1..@trip.remaining_space, step: 1) %></p>
    			<%= f.hidden_field :user_id, value: @user.id%>
					<%= f.hidden_field :trip_id, value: @trip.id %>
				  <%= f.submit "Add to #{@trip.driver_first_name}'s Trip", class: "btn btn-primary col-9 mb-4 btn-lg", align: "center" %>
			  </div>
    		<% end %>
		  </div>
	</div>
</div>