<h1>Users#show</h1>
<p>Hello, <%= @user.first_name %>!</p>

<h4 class="mt-4" align="center">Credit count: <%= @user.credit_count%></h4>

<%# @trips.each do |trip| %>
  <%# trip.pickups.each do |x| %>
    <!-- <p>Pick ups pending: <%#=x.id%></p> -->
  <%#end%>
<%#end%>

<% if @user.trips.length > 0 %>
  <h3 class="mt-4 mb-4" align="center">Trips</h3>
	<% @user.trips.each do |trip| %>
		<div>
      <p class="mt-4 mb-4" align="center">
		    <span class="align-middle" id="text"><%= trip.pickup_time.strftime("%B %e, %Y at %l:%M %p") %></span>
		    <span><%= button_to "View Trip", trip_path(trip.id), method: :get, class:"btn col-9", id:"button" %></span>
      </p>
      <hr>
			Pickups: <%= trip.pickups.count %>
		</div>
	<% end %>
<% end %>

<% if @user.recycling_pickups.length > 0 %>
	<h3>Pickups</h3>
	<% @user.recycling_pickups.each do |pickup| %>
		<div>
			<%= pickup.driver_name %>
			Number of Bags: <%= pickup.num_bags %>
		</div>
	<%end%>
<% end %>