<!-- <p>Hello, <#=@user.name%>!</p> -->
<%#@user.trips.each do |t|%>
<!-- <p>Trip: <#=t.id%></p> -->
<%#end%>


<% @trips.each do |t| %>
  <% t.pickups.each do |x| %>
    <p>Pick ups pending: <%=x.id%></p>
  <%end%>
<%end%>

<% @user.recycling_pickups.each do |t| %>
  <p>Pick ups pending: <%=t.id%></p>
<%end%>

<h4 class="mt-4" align="center">Credit count: <%= @user.credit_count%></h4>

<h3 class="mt-4 mb-4" align="center">Trips</h3>
<% @user.trips.each do |trip| %>
	<p class="mt-4 mb-4" align="center">
		<%= trip.pickup_time.strftime("%B %e, %Y at %l:%M %p") %>
		<%= link_to "View Trip", trips_show_path(trip.id) %>
	</p>
<% end %>

