<%= flash.notice %>

<h2 class="mt-4" align="center">Hello, <%= @user.first_name %>!</h2>

<h4 class="mt-4" align="center">Credit count: <%= @user.credit_count%></h4>

<%# @trips.each do |trip| %>
  <%# trip.pickups.each do |x| %>
    <!-- <p>Pick ups pending: <%#=x.id%></p> -->
  <%#end%>
<%#end%>

<% if @user.trips.length > 0 %>
  <h3 class="mt-4 mb-4 title-area" align="center">Trips</h3>
	<% @user.trips.each do |trip| %>
		<div class="card border-info text-center">
			<div class="card-block trip" align="center">
				<div class="col col-10" align="center">
				    <p class="mt-4 col-12 card-text" id="text"><%= trip.pickup_time.strftime("%B %e, %Y at %l:%M %p") %></p>
				</div>
				<div class="col col-10" align="center">
					<p class="mt-4 col-9 card-text" id="text">Pickups: <%= trip.pickups.count %></p>
				</div>
				<div class="col col-10" align="center">
					<%= button_to "View Trip", trip_path(trip.id), method: :get, class:"btn mt-4 mb-4 col-9 white-btn", id:"button"%>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

<% if @user.recycling_pickups.length > 0 %>
	<h3 class="mt-4 mb-4 bgcolor" align="center">Pickups</h3>
	<% @user.recycling_pickups.each do |pickup| %>
		<div class="card border-info text-center">
			<div class="card-block trip" align="center">
				<div class="col col-10" align="center">
					<p class="mt-4 col-12 card-text" id="text"><%= pickup.driver_name %></p>
				</div>
				<div class="col col-10" align="center">
					<p class="mt-4 mb-4 col-12 card-text" id="text">Number of Bags: <%= pickup.num_bags %></p>
				</div>
			</div>
		</div>
	<%end%>
<% end %>