<h1>Users#show</h1>
<p>Hello, <%=@user.first_name%>!</p>

<h3>Trips</h3>
<% @trips.each do |t| %>
  <% t.pickups.each do |x| %>
    <p>Driver Pick ups pending: <%=x.id%></p>
  <%end%>
<%end%>

<% @user.recycling_pickups.each do |t| %>
  <p>Recycling Pick ups pending: <%=t.id%></p>
<%end%>

<h4 class="mt-4" align="center">Credit count: <%= @user.credit_count%></h4>

<h3 class="mt-4 mb-4" align="center">Trips</h3>
<% @user.trips.each do |trip| %>
	<p class="mt-4 mb-4" align="center">
		<span class="align-middle" id="text"><%= trip.pickup_time.strftime("%B %e, %Y at %l:%M %p") %></span>
		<span><button class="btn col-9" id="button"><%= link_to "View Trip", trips_show_path(trip.id) %></button></span>
	</p>
	<hr>
<% end %>
