<h1 id="notice" align="center"><%= flash.notice %></h1>


<div class="container">
	<div class="row align-items-center">
		<div class="col align-self-center buttons" id="verti">
			<button class="btn btn-primary col-9 mb-4 btn-lg" align="center"><%= link_to "Schedule Trip", trips_new_path %></button>
			<button class="btn btn-primary col-9 mb-4 btn-lg" align="center"><%= link_to "Have Your Recycling Picked Up", trips_index_path %></button>
		</div>
	</div>
</div>

<div class="buttons">
<button class="btn btn-primary col-9 mb-4 btn-lg" align="center"><%= link_to "Schedule Trip", new_trip_path %></button>

<button class="btn btn-primary col-9 mb-4 btn-lg" align="center"><%= link_to "Have Your Recycling Picked Up", trips_path %></button>
</div>
